{% extends "admin/base.html" %} {% load static i18n %} {% load notifications_tags %} {% block title %}{{ title }} | {{ site_title|default:_('Django
site admin') }}{% endblock %} {% block branding %}
<h1 id="site-name" style="font-size: 1.02857rem;cursor: pointer;padding: 0.3em 0 0.3em;">
    <span class="icon-user"></span> {% trans "Zeloband Admin" %}

</h1>

{% endblock %} {% block extrastyle %} {{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static " core/css/branding.css " %}" />
<link rel="stylesheet" type="text/css" href="{% static " core/css/icons/style.css " %}" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous"> {% endblock %} {% block nav-global %}
<a href="{% url 'notifications:all' %}" class="sidebar-link icon">
    <span class="sidebar-link-label">
        <i class="sidebar-link-icon fa{% if notifications_unread%}r{% else %}s{% endif %} fa-bell"></i>
        {% trans 'New Notifications' %} ({% notifications_unread %})
    </span>
</a>
{% endblock %} {% block userlinks %}
<a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
{% endblock %} {% block footer %} {{ block.super }} {% endblock %}